@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "extra";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.9);
  min-height: 100vh;
  font-family: "Noto Sans";
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 1.7em;
}
nav {
  display: flex;
  gap: 1.2em;
}
a {
  text-decoration: none;
  color: rgb(226, 68, 160);
  font-size: 1.27em;
}
.active {
  text-shadow: 0 0 1.4em pink;
}

//list page
.list-page {
  padding: 1.4em;
}
.job-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(25em,1fr));
  gap: 3.5em;
}
.card {
  background-color: gray;
  border-radius: 0.5em;
  padding: 1.4em;
  
}
.head {
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.4em;
    margin-bottom: 1.4em;
  }
  .letter {
    background-color: orangered;
    width: 4.3em;
    height: 4.3em;
    display: grid;
    place-items: center;
    border-radius: 0.5em;
    font-size: 1.9em;
    text-shadow: 0 0 1.4em white;
  }
  .info {
    font-size: 1.4em;
  }
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.9em;
  .field {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .status {
    display: flex;
    p {
      padding: 0.3em;
      border-radius: 0.5em;
    }
  }
}
